<%- include('inc/header') %>
    <main role="main" class="container">
        <h1 class="text-center">Add Project</h1>
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" name="p_name" placeholder="Project name">
                    </div>
                    <div class="form-group">
                        <input type="date" class="form-control" name="p_date">
                    </div>
        
                    <div class="form-group">
                        <input type="file" class="form-control" name="p_thumb">
                    </div>
        
                    <div class="form-check mb-3">
                        <input type="checkbox" id="p_status" class="form-check-input" name="p_status">
                        <label class="form-check-label" for="p_status">Project status</label>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>

            </div>
        </div>
    </main>

    <%- include('inc/footer') %>